@page "/parent"
<h1 style="font-style:@style">Parent-child example</h1>
<input type="checkbox" class="form-check-input" id="italicsCheck" bind="@italicsCheck" />
<input bind="@currentValue" />
<input type="text" bind-value-oninput="@topic" />
<Child Title="Panel Title from Parent"
				OnClick="@ShowMessage">
	Content of the child component is supplied
	by the parent component.
</Child>
<h1>Parent Component</h1>
<p>ParentYear: @ParentYear</p>
<ChildYear bind-Year="@ParentYear" />
<button class="btn btn-primary" onclick="@ChangeTheYear">
    Change Year to 1986
</button>
<p><b>@messageText</b></p>
@functions {
	private bool italicsCheck;
	private string currentValue;
	private string topic;
	private string style = "italic";
	private string messageText;
	private void ShowMessage(UIMouseEventArgs e)
	{
		messageText = currentValue + italicsCheck + "Blaze a new trail with Blazor!";
	}
	[Parameter]
	private int ParentYear { get; set; } = 1978;
	private void ChangeTheYear()
	{
		ParentYear = 1986;
	}
}
